recursive-include pysiss *.py *.xml
recursive-include tests *.py *.xml
recursive-include examples *.ipynb *.py *.csv *.md *.json
recursive-include docs *.py *.rst *.conf Makefile *.bat
include *.md
include MANIFEST.in
include README.rst
include LICENSE.txt
include requirements.txt
include ez_setup.py
